// Screen sizes
$maxPhone: 480px;
$minTablet: 481px;
$maxTablet: 767px;
$minDesktop: 768px;

// Colors
$white: #fff;
$black: #000;
$lightGreen: #a0b185;
$darkGreen: #7f8c4d;
$lightBeige: #e4ddd3;
$brownBeige: #d8bb9c;
$darkBeige: #f5e7df;
